<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Catalog cars</title>
    <link th:rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div class="mainHeader onCard">
    <div class="content">
        <div class="subContent">
            <a th:href="@{/profile}" class="item">
                <img
                        th:src="@{/img/sign-in-alt-solid.svg}"
                        alt="loginIcon"
                        class="itemIcon"
                />
                <p class="subIcon">Аккаунт</p>
            </a>
        </div>

        <a th:href="@{/catalog}" class="logo">
            <img class="logoImg" th:src="@{/img/Cars_Logo_Black.svg.png}" alt=""/>
        </a>
        <div  sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/addCar}" class="item">
                <img th:src="@{/img/plus-solid.svg}"
                     alt="loginIcon"
                     class="itemIcon"/>
                <p class="subIcon margin-top-10">Добавить автомобиль</p>
            </a>
        </div>

    </div>
</div>

<div class="formgroup">
    <form method="POST" th:action="@{/addCar}" th:object="${newCar}">
        <h4>Модель авто</h4>
        <input type="text" th:field="*{model}" class="input" placeholder="Введите модель авто">
        <h4>Цена</h4>
        <input type="text" th:field="*{price}" class="input" placeholder="Введите цену">

        <h4>Описание</h4>
        <input type="text" th:field="*{description}" class="input" placeholder="Введите описание для авто">

        <h4>Ссылка на фото авто</h4>
        <input type="text" th:field="*{imageLink}" class="input" placeholder="Ссылка на картинку">
        <button class="button" type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>